* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* #region fixed-btn */
#fixed-btn {
    background-color: #fff;
    /* background-color: #8F7854; */
    width: 37px;
    height: 80px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: fixed;
    right: 0px;
    top: 200px;
    box-shadow: 0px 0px 100px -10px;
    box-shadow: 0 0px 17px 1px rgba(0, 0, 0, 0.151);
}

#fixed-btn a {
    width: 65%;
    height: calc(50% - 10px);
    /* background-color: #8F7854; */
    /* background-color: #000; */
    /* color: gray; */
    display: inline-block;
    border-radius: 10px;
    margin-inline: 5px;
}

#fixed-btn a i {
    margin: 5px 0 0 4px;
    color: #666
}

#fixed-btn a:hover i {
    color: #218fe6;

}

#fixed-btn a:first-child {
    margin-top: 8px;
    margin-bottom: 5px;
}

/* #endregion */

/* #region go-top-btn */
#go-top-btn i {
    position: fixed;
    right: 15px;
    bottom: 15px;
    font-size: 40px;
    color: #666;
}

#go-top-btn i:hover {
    /* color: rgb(0, 0, 0); */
    color: #8F7854;
    transition: 0.5s;
}

/* #endregion */

/* #region home section */
#home {
    background-color: #0000006c;
    height: 100vh;
    background-image: url(../images/home-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

#home header {
    background-color: #00000085;
    text-align: center;
    position: fixed;
    width: 100%;
}

#home header .logo {
    /* background-color: #762e2e; */
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    padding-block: 15px 10px;
}

#home header nav {
    /* background-color: #b46363; */
    width: 70%;
    display: inline-block;
    text-align: right;
}

#home header .logo img {
    width: 200px;
}

#home header nav ul {
    list-style: none;
}

#home header nav ul li {
    display: inline-block;
}

#home header nav ul li a {
    color: white;
    font-size: 18px;
    letter-spacing: 1.7px;
    font-family: 'Alegreya', serif;
    text-decoration: none;
    display: inline-block;
    width: 90px;
    padding: 20px 0px;
    text-align: center;
}

#home header nav ul li:hover a {
    color: black;
    background-color: #8F7854;
    border-radius: 15px;
}

#home header nav ul li a:first-of-type {
    text-transform: capitalize;
}

/* "our offer" wants more width, so i increase its width, more than 90px. */
#home header nav ul li:nth-child(3) a {
    padding-inline: 10px;
    width: 110px;
}

/* "blog" wants less width, so i decrease its width, less than 90px. */
#home header nav ul li:nth-child(5) a {
    padding-inline: 10px;
    width: 70px;
}

#home main {
    /* background-color: tomato; */
    color: white;
    text-align: center;
    padding-top: 250px;
}

#home main p {
    font-family: 'Alegreya Sans';
    font-size: 24px;
    font-weight: 300;
}

#home main p:nth-child(1)::first-letter {
    text-transform: capitalize;
}

#home main p:nth-child(3) {
    min-width: 45%;
    max-width: 800px;
    margin: auto;
    line-height: 1.7;
    padding-inline: 60px;
}

#home main h1 {
    font-size: 76px;
    margin: 5px 0 18px;
    text-transform: capitalize;
    font-family: 'Alegreya';
    font-weight: 400;
}


#home main .buttons button {
    padding: 15px 28px;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    font-family: "Alegreya Sans";
    margin-top: 30px;
    margin-bottom: 12px;
}

#home main .buttons .learn-more-btn {
    margin-right: 7px;
    background-color: #8F7854;
}

#home main .buttons .contact-us-btn {

    background-color: transparent;
    border: #fff 1px solid;
}

#home main .buttons button:hover {
    color: black;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

#home main .scroll-shap {
    width: 32px;
    height: 50px;
    border: #fff 2px solid;
    border-radius: 24px;
    opacity: 0.5;
    margin-inline: auto;
    position: relative;
    top: 95px;
    display: inline-block;
}

#home main .scroll-shap .dot {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px auto 0;
    animation-duration: 1.5s;
}

/* #endregion */

/* #region who-we-are section */
#who-we-are {
    /* background: aqua; */
    padding: 150px 40px 0 150px;
    /* min-height: calc(100vh - 84px); */
    min-height: 100vh;
}

#who-we-are .image {
    background: #000;
    width: 565px;
    display: inline-block;
    vertical-align: top;
}

#who-we-are .caption {
    /* background-color: tomato; */
    width: calc(100% - (565px + (100px * 2) + 4px));
    display: inline-block;
    font-family: "Alegreya Sans";
    font-weight: 300;
    margin-top: 80px;
    margin-left: 80px;
}

#who-we-are .caption h2 {
    font-family: "Alegreya";
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 25px;
}

#who-we-are .caption p {
    font-size: 17px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 25px;
}

#who-we-are .caption ul li {
    padding: 8px 0;
    font-size: 17px;
}

#who-we-are .caption ul li i.fa {
    color: #8e7754;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px;
}

/* #endregion */

/* #region our-location section */

#our-location {
    background-color: #f8f8f8;
    text-align: left;
    min-height: 100vh;
    padding-top: 130px;

}

#our-location .caption {
    /* background-color: tomato; */
    width: 50%;
    display: inline-block;
    padding-inline: 155px 80px;
    text-align: left;
    margin-top: 150px;

}

#our-location img {
    /* background-color: gray; */
    width: 45%;
    display: inline-block;
    padding: 70px;
    vertical-align: top;
}

#our-location .caption h2 {
    font-family: 'Alegreya';
    font-weight: 400;
    text-transform: capitalize;
    font-size: 32px;
}

#our-location .caption p {
    font-family: 'Alegreya sans';
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
    line-height: 30px
}

#our-location .caption p:nth-child(2) {
    margin-block: 25px 20px;
}

/* #endregion */

/* #region our-baking section */
#our-baking {
    /* background-color: aqua; */
    padding: 40px 140px;
    text-align: center;
    height: 100vh;
}

#our-baking .caption {
    margin-block: 80px 40px;
}

#our-baking .caption h2 {
    font-family: 'Alegreya';
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 17px;
}

#our-baking .caption p {
    font-family: 'Alegreya sans';
    font-size: 17px;
    font-weight: 300;
}

#our-baking .products {
    /* background-color: tomato; */
    overflow: hidden;
}

#our-baking .products .product img {
    width: 373px;
}

#our-baking .products .product {
    /* background-color: gray; */
    width: calc(100% / 3);
    float: left;
    padding-inline: 20px;
}

#our-baking .products .product h3 {
    font-family: 'Alegreya';
    font-size: 22px;
    font-weight: 400;
    margin-block: 30px 15px;
}

#our-baking .products .product p {
    font-family: 'Alegreya sans';
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
}


/* #endregion */